.container-fluid{
    height: 96px;
    color: #115fa4;
    margin-top: -1%;
    border-width: 1%;
    border-bottom-color: gray;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
}

#navbarNav{
  align-items: end;
  justify-content: space-between;
}


.nav-item .navlist {
  display: flex;
  align-items:end;
  font-size: 40px;
  margin-left: 2%;
}


.navbar-nav .nav-link {
color: #115fa4;
font-size: 17px;
margin-left: 10%px;
}

.navbar-nav .nav-link.active {
color: #115fa4 !important;

}

.navbar-nav .nav-link:hover {
color: #09f !important;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section {
  width:20%;
  background-color: white;
  margin: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  color: rgb(155, 201, 231);
}

.section span {
  color: #115fa4;
  font-weight: bold;
}
.ma {
  color: rgb(210, 172, 136);
}
.ma span {
  color:rgb(150, 97, 48);
}
.bm {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}



